# Looking at 1-2 Finishes

In notebook 03 I computed the average finishing position for each team at each race from 1950 to now (2019, race 4). Let's compare that with the other list of 1-2 finishes to make sure I have things mostly right. I know my averages method will not capture the early races where more than 2 drivers raced and a team got a 1-2 finish. Those winners I get with my original method of looking at the first and second place finishes for each race and seeing if they were the same constructor.

In [1]:
import pandas as pd
import numpy as np

In [2]:
averages = pd.read_csv("../data/averagePositions-all.csv")
finishes = pd.read_csv("../data/onetwofinishes.csv")

In [3]:
averages.head()

   year constructorName  round  averagePosition
0  1950           Adams      3        27.000000
1  1950      Alfa Romeo      1         4.500000
2  1950      Alfa Romeo      2         8.000000
3  1950      Alfa Romeo      4         5.000000
4  1950      Alfa Romeo      5         2.333333

In [4]:
averages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11787 entries, 0 to 11786
Data columns (total 4 columns):
year               11787 non-null int64
constructorName    11787 non-null object
round              11787 non-null int64
averagePosition    11787 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 368.4+ KB

In [5]:
finishes.head()

,raceId2,year,prixName,prixDate,round,constructorName,driverName
0,1.0,1950.0,British Grand Prix,1950-05-13,1.0,Alfa Romeo,Nino Farina
1,4.0,1950.0,Swiss Grand Prix,1950-06-04,4.0,Alfa Romeo,Nino Farina
2,5.0,1950.0,Belgian Grand Prix,1950-06-18,5.0,Alfa Romeo,Juan Fangio
3,6.0,1950.0,French Grand Prix,1950-07-02,6.0,Alfa Romeo,Juan Fangio
4,7.0,1950.0,Italian Grand Prix,1950-09-03,7.0,Alfa Romeo,Nino Farina

In [6]:
finishes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 7 columns):
raceId2            290 non-null float64
year               290 non-null float64
prixName           290 non-null object
prixDate           290 non-null object
round              290 non-null float64
constructorName    290 non-null object
driverName         290 non-null object
dtypes: float64(3), object(4)
memory usage: 15.9+ KB